<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Script Interpreter</key>
			<string>php</string>
			<key>Shell Script File</key>
			<string>main.php</string>
			<key>Title</key>
            <string>Oneline</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert Multi Lines To One</string>
	<key>Extension Identifier</key>
	<string>com.liaol.popclip.extension.oneline</string>
	<key>Extension Name</key>
	<string>Oneline</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
